.textBtn {
  border: none;
  cursor: pointer;
  color: var(--primary-color);
  background-color: transparent;
  font-weight: normal;
}

/* .textBtn:hover {
  padding-bottom: 2px;
  border-bottom: 1px solid var(--primary-color);
} */

.buttonText {
  border: none;
  cursor: pointer;
  color: var(--primary-color);
  font-weight: normal;
}

.button {
  border: none;
  background-color: var(--secondary-color-green);
  color: var(--primary-color);
  padding: 1.2rem 5.6rem;
  border-radius: 8px;
  font-size: 2rem;
  cursor: pointer;
  transition: .3s all;
}

.button:hover {
  background-color: var(--gray-color-3);
  box-shadow: 0 3px 6px var(--secondary-color-green);
}

.closeBtn {
  border: none;
}

.watchlist {
  border: transparent;
  padding: 1.2rem 5.6rem;
  border-radius: 8px;
  font-size: 2rem;
  cursor: pointer;
  transition: .3s all;
  color: var(--primary-color);
  background-color: var(--gray-color-1);
}

.addToCart {
  border: none;
  
  padding: 1.2rem 5.6rem;
  border-radius: 8px;
  font-size: 2rem;
  cursor: pointer;
  transition: .3s all;
  background-color: var(--primary-color);
  color: var(--gray-color-1);
}