:root {
  --heading-1: 2.6rem;
  --heading-2: 2.2rem;
  --heading-3: 2rem;
  --heading-4: 1.8rem;
  --heading-5: 1.6rem;
  --heading-6: 1.4rem;
  --heading-7: 1.2rem;

  --primary-color: #000000;
  --secondary-color-blue: #377dff;
  --secondary-color-green: #38c889;
  --secondary-color-orange: #ffab00;
  --secondary-color-red: #ff5630;

  --gray-color-7: #141718;
  --gray-color-6: #232627;
  --gray-color-5: #343839;
  --gray-color-4: #6c7275;
  --gray-color-3: #e8ecef;
  --gray-color-2: #f3f5f7;
  --gray-color-1: #fefefe;

  --gray-stroke: #cbcbcb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'inter';
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.8px;
  background-color: var(--gray-color-3);
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

section {
  width: 100%;
  background-color: var(--gray-color-1);
}

.sectionWrapper {
  width: 110rem;
  margin: 0 auto;
}


.modal {
  margin: auto;
  background-color: #e4ddd4;
  border-radius: 6px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  padding: 1rem;
  width: 80%;
  max-width: 60rem;
  animation: fade-slide-up 0.3s ease-out forwards;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}